
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: "poppins", sans-serif;
}

body{
	min-height: 100vh;
	background: url(../images/restaurant.jpg) no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contactUs{
	color:#fff;
	max-width:500px;
	line-height:65px;
	margin-top:60px;
	font-size:18px;
	
}
.information{
	margin-right:20px;
	font-size:25px;
}
.form{
	max-width:700px;
	margin-right:50px;
	margin-bottom:0px;
}
.information .form{
	flex:1;
}
.form h1{
	color: #fff;
	text-align: center;
	font-size: 35px;
	text-transform: uppercase;
	margin-bottom: 1px;
}
.form .box{
	background: white;
	color:black;
	border: none;
	width: calc(50%-10px);
	height:50px;
	padding:10px;
	font-size:15px;
	border-radius:5px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	opacity:0.9;
	margin-bottom:1px;
	align-items: center;
	justify-content: center;
}
.form .box:first-child{
	margin-right:15px;
}
.form textarea{
	background:white;
	color:black;
	border:none;
	width:100%;
	font-size:15px;
	padding:12px;
	padding-bot
	min-height:200px;
	max-height:400px;
	resize: vertical;
	border-radius:5px;
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
	opacity: 0.9;
	margin-bottom: 0px;
}
.form .send-botton{
	float: right;
	background:#2E94E3;
	color:#fff;
	border:none;
	width: 120px;
	height: 40px;
	font-size: 15px;
	font-weight: 600;
	text-transform:uppercase;
	border-radius:5px;
	letter-spacing:2px;
	transition:0.3s;
	transition-property: background;
	
}
.form .send-botton:hover{
	background: #0582E3;
}
@media screen and (max-width: 950px){
	.contactUs{
		flex-direction:column;
	}
}
.information, .form{
	margin-top: 30px;
	margin-right: 50px;
	margin-bottom:10px;
	margin-left:50px;
}
.form h1{
	font-size: 30px;
}
.form .box{
	width:100%;
}
.alert-success{
	z-index: 1;
	background: #D4EDDA;
	font-size:18px;
	padding: 20px 40px;
	min-width: 420px;
	position: fixed;
	right: 0;
	top: 10px;
	border-left: 8px solid #3AD66E;
	border-radius: 4px;
}
.alert-error{
	z-index: 1;
	background: #D4EDDA;
	font-size:18px;
	padding: 20px 40px;
	min-width: 420px;
	position: fixed;
	right: 0;
	top: 10px;
	border-left: 8px solid #3AD66E;
	border-radius: 4px;
}